body {
    background-image: url(../../public/img/pokebolas_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

