$--moraete: #362A89;
$--azul-oscuro: #023047;
$--azulito: #8ecae6;

@mixin valores{
    color: whitesmoke;
        border: 2px solid;
        border-radius: 30px;
        margin: 0.5em;
        padding: 1em 2em;
        text-decoration: none;
}


.home{
    @include valores;
}

.nav-welcome{
    border-color:$--azul-oscuro;
    background-color:$--azulito;
    @include valores;
}